/* Rubik's Cube 3D CSS Loader */
/* Variables: unit=10px, piece-size=30px, inter-piece-spacing=10px, cube-size=130px */

.rubiks-loader,
.rubiks-loader *,
.rubiks-loader *::before,
.rubiks-loader *::after {
  box-sizing: border-box;
}

.rubiks-loader {
  width: 130px;
  height: 130px;
  position: relative;
  perspective: 130px;
}

.rubiks-loader .cube {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 0;
  transform-style: preserve-3d;
}

.rubiks-loader .piece {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 4px;
}

/* Row positions */
.rubiks-loader .piece.row-top { top: 10px; }
.rubiks-loader .piece.row-center { top: 50px; }
.rubiks-loader .piece.row-bottom { top: 90px; }

/* Column positions */
.rubiks-loader .piece.col-left { left: 10px; }
.rubiks-loader .piece.col-center { left: 50px; }
.rubiks-loader .piece.col-right { left: 90px; }

/* Transform origins for 3D rotation */
.rubiks-loader .piece.col-left.row-top { transform-origin: 55px 55px -55px; }
.rubiks-loader .piece.col-center.row-top { transform-origin: 15px 55px -55px; }
.rubiks-loader .piece.col-right.row-top { transform-origin: -25px 55px -55px; }
.rubiks-loader .piece.col-left.row-center { transform-origin: 55px 15px -55px; }
.rubiks-loader .piece.col-center.row-center { transform-origin: 15px 15px -55px; }
.rubiks-loader .piece.col-right.row-center { transform-origin: -25px 15px -55px; }
.rubiks-loader .piece.col-left.row-bottom { transform-origin: 55px -25px -55px; }
.rubiks-loader .piece.col-center.row-bottom { transform-origin: 15px -25px -55px; }
.rubiks-loader .piece.col-right.row-bottom { transform-origin: -25px -25px -55px; }

/* Colors */
.rubiks-loader .piece.white { background-color: #e2e8e7; }
.rubiks-loader .piece.yellow { background-color: #f6c574; }
.rubiks-loader .piece.blue { background-color: #00aacf; }
.rubiks-loader .piece.green { background-color: #00b3a0; }
.rubiks-loader .piece.red { background-color: #fc5652; }
.rubiks-loader .piece.orange { background-color: #fc9f39; }

/* Face transforms */
.rubiks-loader .face.front { }
.rubiks-loader .face.back { transform: rotateY(180deg); }
.rubiks-loader .face.right { transform: rotateY(90deg); }
.rubiks-loader .face.left { transform: rotateY(-90deg); }
.rubiks-loader .face.up { transform: rotateX(90deg); }
.rubiks-loader .face.down { transform: rotateX(-90deg); }

/* Animation base */
.rubiks-loader .piece {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Step 1: Front center column moves to Up (0-20%) */
@keyframes step-1-front-to-up {
  0% { transform: rotateX(0deg); }
  20%, 100% { transform: rotateX(90deg); }
}
.rubiks-loader .face.front.piece.col-center {
  animation-name: step-1-front-to-up;
}

@keyframes step-1-down-to-front {
  0% { transform: rotateX(-90deg); }
  20%, 100% { transform: rotateX(0deg); }
}
.rubiks-loader .face.down.piece.col-center {
  animation-name: step-1-down-to-front;
}

/* Step 2: Center row moves to Left (20-40%) */
@keyframes step-2-front-to-left {
  0%, 20% { transform: rotateY(0deg); }
  40%, 100% { transform: rotateY(-90deg); }
}
.rubiks-loader .face.front.piece.row-center.col-left,
.rubiks-loader .face.down.piece.row-center.col-center,
.rubiks-loader .face.front.piece.row-center.col-right {
  animation-name: step-2-front-to-left;
}

@keyframes step-2-right-to-front {
  0%, 20% { transform: rotateY(90deg); }
  40%, 100% { transform: rotateY(0deg); }
}
.rubiks-loader .face.right.piece.row-center {
  animation-name: step-2-right-to-front;
}

/* Step 3: Left column moves to Down (40-60%) */
@keyframes step-3-front-to-down {
  0%, 40% { transform: rotateX(0deg); }
  60%, 100% { transform: rotateX(-90deg); }
}
.rubiks-loader .face.front.piece.row-top.col-left,
.rubiks-loader .face.front.piece.row-bottom.col-left {
  animation-name: step-3-front-to-down;
}

@keyframes step-2-3-right-to-front-to-down {
  0%, 20% { transform: rotateY(90deg); }
  40% { transform: rotateX(0deg); }
  60%, 100% { transform: rotateX(-90deg); }
}
.rubiks-loader .face.right.piece.row-center.col-left {
  animation-name: step-2-3-right-to-front-to-down;
}

@keyframes step-3-up-to-front {
  0%, 40% { transform: rotateX(90deg); }
  60%, 100% { transform: rotateX(0deg); }
}
.rubiks-loader .face.up.piece.col-left {
  animation-name: step-3-up-to-front;
}

/* Step 4: Bottom row moves to Right (60-80%) + pause (80-100%) */
@keyframes step-4-front-to-right {
  0%, 60% { transform: rotateY(0deg); }
  80%, 100% { transform: rotateY(90deg); }
}
.rubiks-loader .face.front.piece.row-bottom.col-right {
  animation-name: step-4-front-to-right;
}

@keyframes step-1-4-down-to-front-to-right {
  0% { transform: rotateX(-90deg); }
  20% { transform: rotateX(0deg); }
  60% { transform: rotateY(0deg); }
  80%, 100% { transform: rotateY(90deg); }
}
.rubiks-loader .face.down.piece.row-bottom.col-center {
  animation-name: step-1-4-down-to-front-to-right;
}

@keyframes step-3-4-up-to-front-to-right {
  0%, 40% { transform: rotateX(90deg); }
  60% { transform: rotateY(0deg); }
  80%, 100% { transform: rotateY(90deg); }
}
.rubiks-loader .face.up.piece.row-bottom.col-left {
  animation-name: step-3-4-up-to-front-to-right;
}

@keyframes step-4-left-to-front {
  0%, 60% { transform: rotateY(-90deg); }
  80%, 100% { transform: rotateY(0deg); }
}
.rubiks-loader .face.left.piece.row-bottom {
  animation-name: step-4-left-to-front;
}
