# URL del backend SmartKubik (NestJS)
# Producción: https://api.smartkubik.com/api/v1
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1

# Tenant ID del restaurante — SOLO para desarrollo local
# En producción se resuelve automáticamente desde el subdominio
NEXT_PUBLIC_TENANT_ID=

# Puerto del storefront (si hay múltiples verticales corriendo a la vez)
PORT=3002
