.prismatic-burst-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    /* Ensure it doesn't block interactions */
    z-index: 0;
}

.prismatic-burst-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}